{% extends "base.html" %}

{% block content %}

  
<body>
  <div id="app">
  <div class="pos-style absolute text-white text-center"> 

    <h1 class = "font-arvo">Buggy</h1>


  <table>
    <tr>
      <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
    <tr>
      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>

    <tr>
      <td>Color of Flag:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>

    <tr>
      <td>Seondary color of Flag:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>

    <tr>
      <td>Pattern of Flag:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>

  </table>

  <p>
    <a href="/" class="border px-4 py-2 rounded-lg font-cutive-mono text-sm uppercase mt-5 
    hover:bg-white hover:text-gray-800 inline-block">home</a>
  </p>

</div>
  </div>

  <script type="module" src="{{url_for('static', filename='main.js')}}"></script>
  </body>
{% endblock %}
